@font-face {
  font-family: "Futura PT Bold";
  src: local("Futura PT Bold"), local("Futura-PT-Bold"), url("../fonts/FuturaPT-Bold.woff2") format("woff2"), url("../fonts/FuturaPT-Bold.woff") format("woff"), url("../fonts/FuturaPT-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT Medium";
  src: local("Futura PT Medium"), local("Futura-PT-Medium"), url("../fonts/FuturaPT-Medium.woff2") format("woff2"), url("../fonts/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT Book";
  src: local("Futura PT Book"), local("Futura-PT-Book"), url("../fonts/FuturaPT-Book.woff2") format("woff2"), url("../fonts/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT Light";
  src: local("Futura PT Light"), local("Futura-PT-Light"), url("../fonts/FuturaPT-Light.woff2") format("woff2"), url("../fonts/FuturaPT-Light.woff") format("woff"), url("../fonts/FuturaPT-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/* ************ FONT *********** */
/* ********** Color ********* */
/* ********* mixin ************* */
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 12;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup__request.opens {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
}

.popup__request.opens .popup__content__request {
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: #FFEB7F;
  color: black;
  max-width: 800px;
  padding: 30px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  -webkit-box-shadow: 0px 0px 57px 27px rgba(246, 249, 251, 0.21);
  box-shadow: 0px 0px 57px 27px rgba(246, 249, 251, 0.21);
  border-radius: 15px;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 25px;
  color: #000;
  text-decoration: none;
}

.popup__close:hover svg {
  fill: #ED1B24;
  stroke: #ED1B24;
}

.popup__text {
  text-align: center;
  font-size: 40px;
  line-height: 150%;
}

.popup__input {
  margin: 30px 0;
  width: 100%;
}

.button_popup {
  width: 50%;
}

@media (max-width: 960px) {
  .popup__text {
    font-size: 21px;
  }
}
@media (max-width: 960px) {
  .popup__content {
    padding: 10px;
  }

  .popup__text {
    font-size: 18px;
  }
}
/* ********************* request *********************** */
.popup__block-body__request {
  padding: 50px;
  text-align: center;
  max-width: 540px;
}

.request-text {
  font-family: "Futura PT Bold";
  font-size: 30px;
  line-height: 130%;
  text-transform: uppercase;
}

.request-text_red {
  color: #ED1B24;
}

.request__block-inputs {
  margin-top: 30px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.request__block-inputs > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.request__input {
  padding: 14px 23px 15px;
  width: -webkit-fill-available;
  width: -moz-available;
  background-color: #F5F6F8;
  font-size: 16px;
  border-radius: 100px;
  border: none;
}

.request__footer-text {
  margin-top: 10px;
  font-family: "Futura PT Book";
  font-size: 14px;
  line-height: 125%;
}

a {
  text-decoration: none;
  color: #141B24;
}

body {
  font-family: "Futura PT Medium";
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  margin: 0 auto;
  padding: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* ********** container ************ */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 1;
          flex: 0 1;
}

._container {
  max-width: 1160px;
  padding: 0px 10px;
  margin: 0 auto;
}

.display-none {
  display: none;
}

/****************** button ************************/
.button {
  display: inline-block;
  font-family: "Futura PT Book";
  font-size: 18px;
  line-height: 130%;
  color: #F5F6F8;
  background-color: #ED1B24;
  padding: 13px 30px 14px;
  border: none;
  text-transform: uppercase;
  border-radius: 80px;
}

.button:hover, .button:focus {
  background-color: #141B24;
  color: #F5F6F8;
}

.button:active, .button:focus {
  background-color: #A5A5A5;
  color: #F5F6F8;
}

.white_button {
  background-color: #F5F6F8;
  color: #141B24;
}

.white_button:hover {
  background-color: #F5F5F5;
  color: #ED1B24;
}

.white_button:active, .white_button:focus {
  background-color: #A5A5A5;
  color: #F5F6F8;
}

/* **************** global class ******************* */
.title {
  text-transform: uppercase;
  font-family: "Futura PT Book";
  font-size: 50px;
  line-height: 128%;
}

.title_red {
  font-family: "Futura PT Bold";
  font-size: 50px;
  line-height: 128%;
  color: #ED1B24;
}

.text {
  font-family: "Futura PT Book";
  font-size: 20px;
  line-height: 25px;
}

@media (max-width: 768px) {
  .title {
    font-size: 24px;
  }

  .title_red {
    font-size: 24px;
  }

  .text {
    font-size: 16px;
  }
}
/* **************************************** */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #FFEB80;
}

.header_container {
  padding: 0px 15px 0px 10px;
}

.header_hidden {
  position: fixed;
  width: 100%;
  left: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-img {
  padding: 28.5px 0;
}

.header__menu-block_normal {
  background-color: rebeccapurple;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.manu__item:not(:first-child) {
  margin: 0px 10px;
}

.manu__item {
  font-family: "Futura PT Book";
  font-size: 18px;
  line-height: 23px;
}

.menu__link {
  display: inline-block;
  padding: 15px 20px;
  border-radius: 30px;
  color: #141B24;
}

.menu__link:hover, .menu__link:focus {
  background-color: #ED1B24;
  color: #F5F6F8;
  outline: none;
}

.menu__link:active {
  background-color: #ED1B24;
  color: #F5F6F8;
}

.salom {
  margin-top: 110px;
  height: 800px;
  font-size: 30px;
}

.header__button-burger {
  display: none;
}

@media (max-width: 1040px) {
  body.lock {
    overflow: hidden;
  }

  .header__button-burger {
    display: inherit;
  }

  .burger {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
  }

  .burger span {
    position: absolute;
    display: inline-block;
    top: 9px;
    right: 0;
    height: 2px;
    width: 73%;
    background-color: #141B24;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .burger::after, .burger::before {
    position: absolute;
    content: "";
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #141B24;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .burger::after {
    top: 0;
  }

  .burger.active::after {
    top: 11px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #F5F6F8;
  }

  .burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #F5F6F8;
  }

  .burger.active::before {
    bottom: 11px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: #F5F6F8;
  }

  .burger::before {
    bottom: 3px;
  }

  .header__menu {
    display: block;
    position: fixed;
    left: 0;
    top: -100%;
    height: 100%;
    overflow: auto;
    width: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 10;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -60px;
    padding: 120px 0px 60px 0;
    background-color: #141B24;
  }

  .menu__link {
    color: #F5F6F8;
  }

  .header__menu-block {
    width: 100%;
    height: 75%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .header__menu.active {
    top: 0;
  }

  .header__logo-img {
    position: relative;
    z-index: 11;
  }

  .manu__item:not(:first-child) {
    margin: 0px;
  }

  .menu__link {
    display: block;
  }

  .header__button-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 11;
  }

  .header__block-logo {
    z-index: 11;
  }

  .burger {
    margin-left: 30px;
  }

  .header__logo-a.active {
    opacity: 0;
  }
}
@media (max-width: 768px) {
  .menu__list {
    padding: 60px 0;
  }

  .header__logo-img {
    max-width: 122px;
    max-height: 27px;
    padding: 11px 0;
  }

  .button_header {
    display: none;
  }

  .menu__list.active {
    padding-top: 55px;
  }

  .burger {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    margin-right: -5px;
  }

  .manu__item {
    font-size: 16px;
    padding: 0px 5px;
  }

  .menu__link {
    padding: 5px 15px;
  }

  .header__menu.active {
    padding-top: 60px;
  }
}
/******************* page **************/
.page {
  position: relative;
}

.font-title {
  font-family: "Futura PT Bold";
  font-size: 50px;
  line-height: 64px;
  text-transform: uppercase;
}

.main-body {
  background-color: #FFEB80;
  padding-bottom: 60px;
}

.main-body_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.main-body__title {
  padding-top: 110px;
  padding-bottom: 119px;
}

.main-body__dash {
  font-weight: 700;
}

.main-body__img {
  position: absolute;
  top: 120px;
  right: 0;
  max-width: 503px;
  max-width: 503px;
}

@media (max-width: 1040px) {
  .title__main-body {
    max-width: 500px;
  }

  .main-body__img-img {
    max-width: 350px;
    max-height: 350px;
  }

  .main-body__img {
    top: 109px;
  }
}
@media (max-width: 768px) {
  .main-body {
    padding-top: 55px;
    padding-bottom: 90px;
  }

  .main-body__title {
    padding-top: 0;
    padding-bottom: 0;
  }

  .title__main-body {
    font-size: 30px;
  }

  .title__main-body {
    padding-top: 30px;
  }

  .title_red__main-body {
    font-size: 30px;
  }

  .title__main-body {
    min-width: 300px;
  }

  .text_main-body {
    margin-top: 20px;
  }

  .main-body__img {
    top: 50px;
    right: 15px;
  }

  .main-body__img-img {
    width: 300px;
    height: 180px;
  }

  .main-body__img {
    position: relative;
    top: 0;
    right: 0;
    text-align: center;
    max-width: none;
    max-height: none;
    margin-top: 20px;
  }
}
.efficiency {
  background-color: #FFFCEE;
}

.efficiency__body {
  padding-top: 250px;
  padding-bottom: 60px;
}

.efficiency__why-block {
  margin-top: -66px;
}

.why-block {
  max-width: 760px;
  position: absolute;
  width: -webkit-fill-available;
  width: -moz-available;
  top: -50px;
  padding: 32px 48px;
  background-color: #FFF2AD;
  border: 1px solid #DECC6C;
  border-radius: 14px;
}

.why-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.why-block__title-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why-block__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Futura PT Bold";
  font-size: 30px;
  line-height: 130%;
}

.why-block__button-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 216px;
}

.why-block__button-2 {
  display: none;
}

.why-block__items {
  margin-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.why-block__svg {
  margin-top: -5px;
}

.why-block__text {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .efficiency__why-block {
    margin-top: -30px;
  }

  .why-block__title {
    font-size: 20px;
  }

  .why-block {
    padding: 17px 15px;
  }

  .why-block__button-1 {
    display: none;
  }

  .why-block__button-2 {
    display: inherit;
  }

  .why-block__items {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 20px;
  }

  .why-block__item:not(:first-child) {
    margin-top: 14px;
  }

  .why-block__button-2 {
    width: 100%;
    margin-top: 20px;
  }

  .button_why-block-2 {
    width: 100%;
  }
}
/***********************************************************************************/
.efficiency__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.title_efficiency {
  text-align: center;
}

.efficiency__block-items {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-column-gap: 40px;
  grid-row-gap: 20px;
}

.efficiency__block-items > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.efficiency__block-items > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.efficiency__block-items_body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-row-gap: 20px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.efficiency__block-items_body > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.efficiency__item {
  position: relative;
  padding-left: 18px;
}

.efficiency__item::after {
  position: absolute;
  content: "";
  top: 11px;
  left: 0px;
  background-color: #141B24;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .efficiency__block-items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.tariffs__title {
  margin-top: 60px;
  text-align: center;
}

.tariffs__grid {
  margin-top: 110px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 40px;
}

.tariffs__grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.tariffs__grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.tariffs__block {
  position: relative;
}

.tariffs__block__title-svg {
  position: relative;
}

.tariffs__block-svg {
  position: absolute;
  top: -120px;
  left: 40%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 123px;
  height: 98px;
}

.tariffs__block-svg_1 {
  left: 53%;
}

.tariffs__block__title {
  text-align: center;
  font-family: "Futura PT Bold";
  font-size: 30px;
  line-height: 133%;
  color: #ED1B24;
}

.tariffs__body {
  background-color: #FFFCEE;
  border: 1px solid #FFF2AD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  border-radius: 14px;
}

.tariffs__block__price-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 28px;
  margin-top: 50px;
  height: 100%;
}

.tariffs__block__text-block {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tariffs__block__text-block-2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  text-align: center;
}

.tariffs__block__text-block_2 {
  position: relative;
}

.tariffs__block__text-block_2::after {
  position: absolute;
  content: "";
  top: -13px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #FFF2AD;
}

.tariffs__block__price {
  padding-left: 5px;
  min-width: 112px;
  font-family: "Futura PT Book";
  font-size: 30px;
  line-height: 133%;
  color: #ED1B24;
}

.tariffs__block__text-small {
  padding: 20px 20px;
  text-align: center;
  background-color: #FFF2AD;
}

.tariffs__block__text-small-p {
  font-family: "Futura PT Book";
  font-size: 16px;
  line-height: 120%;
  color: #1D1A0F;
  opacity: 0.5;
}

.tariffs__block__button {
  padding: 20px 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .tariffs__grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .tariffs__title {
    margin-top: 35px;
  }

  .tariffs__block__text-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .tariffs__block_2 {
    margin-top: 66px;
  }

  .tariffs__block-svg {
    top: -80px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }

  .tariffs__block-svg_1 {
    top: -74px;
  }

  .tariffs__svg_1 {
    width: 72px;
    height: 63px;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  .tariffs__svg_2 {
    width: 82px;
    height: 77px;
  }

  .tariffs__block__price-body {
    margin: 20px 10px;
  }

  .tariffs__block__text-block {
    margin-top: 25px;
  }
}
.strategy {
  background-color: #FFEB7F;
}

.strategy__block-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 108px;
  margin-top: 60px;
}

.strategy__svg-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.strategy-svg {
  width: 353px;
  height: 328px;
}

.strategy__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 40px 0px 30px;
}

.text_strategy {
  margin-top: 43px;
}

.strategy__buttons {
  margin-top: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.strategy__button {
  background-color: #F5F6F8;
  color: #141B24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.strategy__button p {
  padding-left: 10px;
}

.strategy__button-2__block {
  margin-left: 38px;
  position: relative;
}

.strategy__button__text {
  position: absolute;
  text-align: center;
  bottom: -50px;
  left: 10px;
  width: 204px;
  font-family: "Futura PT Book";
  font-size: 16px;
  line-height: 120%;
  height: auto;
}

.strategy__button:hover svg, .strategy__button:focus svg {
  fill: violet;
  stroke: rgb(255, 255, 255);
}

.strategy__button:active svg {
  fill: violet;
  stroke: rgb(50, 206, 97);
}

.message {
  background-color: #ED1B24;
}

.message__text {
  font-family: "Futura PT Book";
  font-size: 16px;
  line-height: 133%;
  color: #F5F6F8;
  text-align: center;
  padding: 10px 0;
}

@media (max-width: 930px) {
  .strategy__svg-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .strategy__body {
    padding: 0px 20px 0px 20px;
  }

  .strategy__button-2__block {
    margin-left: 15px;
  }
}
@media (max-width: 768px) {
  .strategy__block-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 30px;
  }

  .strategy__svg-block {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .strategy-svg {
    width: 157px;
    height: 147px;
  }

  .strategy__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-top: 14px;
    padding: 0;
    text-align: center;
  }

  .text_strategy {
    margin-top: 24px;
  }

  .strategy__buttons {
    margin-top: 24px;
    width: 100%;
  }

  .strategy__button {
    width: 50%;
  }

  .strategy__button-2__block {
    width: 50%;
  }

  .strategy__button-2 {
    width: 100%;
  }

  .strategy__button__text {
    width: 100%;
    left: 0;
    font-size: 14px;
    bottom: -30px;
  }

  .strategy__block-body {
    padding-bottom: 80px;
  }
}
@media (max-width: 603px) {
  .strategy__button__text {
    bottom: -45px;
  }
}
@media (max-width: 500px) {
  .strategy__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .strategy__button {
    width: 100%;
  }

  .strategy__button-2__block {
    width: 100%;
    margin-top: 14px;
    margin-left: 0;
  }

  .strategy__button-2 {
    width: 100%;
  }
}
.footer {
  background-color: #1D1A0F;
}

.footer__body {
  padding: 31px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list_footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  padding: 0;
  margin-top: 0;
}

.menu__list_footer > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.menu__link_footer {
  width: 100%;
  background-color: #1D1A0F;
  padding: 7px 10px;
}

.menu__link_footer:hover, .menu__link_footer:focus {
  background-color: #ED1B24;
}

.menu__link_footer:active, .menu__link_footer:focus {
  background-color: #A5A5A5;
}

.manu__item_footer:not(:first-child) {
  margin: 0;
}

.manu__item_footer {
  margin: 0;
  font-size: 14px;
}

.menu__link_footer {
  color: #F5F6F8;
  margin: 0;
  font-size: 14px;
}

.footer__contacts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer__contacts > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.footer__contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contacts-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #F5F6F8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contacts__text {
  padding: 10px;
}

.button_footer {
  background-color: #FFEB7F;
  color: #141B24;
}

.button_footer:hover {
  background-color: #ED1B24;
}

.button_footer:active, .button_footer:focus {
  background-color: #A5A5A5;
}

.footer__text {
  margin-left: 30px;
  text-align: end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 14px;
}

.footer__text > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.footer__text__p {
  font-family: "Futura PT Book";
  font-size: 14px;
  line-height: 120%;
  color: #F5F6F8;
}

.footer__text__p_first {
  text-decoration: underline;
}

@media (max-width: 1100px) {
  .footer__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .footer__body > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .footer__body > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .footer__body > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .menu__list_footer {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .footer__button-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__text {
    margin-left: 0;
    width: 100%;
    text-align: start;
  }
}
@media (max-width: 768px) {
  .footer__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-gap: 15px;
  }
  .footer__body > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .footer__svg-block {
    text-align: center;
  }

  .menu__list_footer {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .footer__button-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__text {
    margin-left: 0;
    width: 100%;
    text-align: center;
  }
}
/* ********************** lets go **************** */