
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 12;

  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup__request.opens {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
}
.popup__request.opens .popup__content__request {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
}
.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}
.popup__content {
  background-color: $colorBGStrategy;
  color: black;
  max-width: 800px;
  padding: 30px;
  position: relative;
  transition: all 0.8s ease 0s;
  transform: translate(0px, -100%);
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  -webkit-box-shadow: 0px 0px 57px 27px rgba(246, 249, 251, 0.21);
  -moz-box-shadow: 0px 0px 57px 27px rgba(246, 249, 251, 0.21);
  box-shadow: 0px 0px 57px 27px rgba(246, 249, 251, 0.21);
  border-radius: 15px;
}
.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 25px;
  color: #000;
  text-decoration: none;
}
.popup__close:hover {
  svg {
    fill:  $colorRed;
    stroke: $colorRed;
  }
}
.popup__text {
  text-align: center;
  font-size: 40px;
  line-height: 150%;

}
.popup__input {
  margin: 30px 0;
  width: 100%;
}
.button_popup {
  width: 50%;
}

@media (max-width: 960px) {
  .popup__text {
    font-size: 21px;
  }
}
@media (max-width: 960px) {
  .popup__content {
    padding: 10px;
  }
  .popup__text {
    font-size: 18px;
  }
}

/* ********************* request *********************** */

.popup__block-body__request {
  padding: 50px;
  text-align: center;
  max-width: 540px;
}
.request-text {
  @include font ($fontFuture-Bold, 30px, 130%);
  text-transform: uppercase;
}
.request-text_red {
  color: $colorRed;
}
.popup__block-body__request {

}
.request__block-inputs {
  margin-top: 30px;
  width: 100%;
  @include grid(1fr, auto);
  grid-gap: 20px;
}
.request__input {
  padding: 14px 23px 15px;
  width: -webkit-fill-available;
  width: -moz-available;
  background-color: $colorWhite;
  font-size: 16px;
  border-radius: 100px;
  border: none;
}
.request__footer-text {
  margin-top: 10px;
  @include font ($fontFuture-Book, 14px, 125%)
}
